body {
    font-family: Arial, sans-serif;
    background-color: #f5f5f5;
    margin: 0;
    padding: 0;
}

header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 15px 30px;
    background-color: #228B22;
    color: #fff;
}

nav .menu {
    list-style: none;
    display: flex;
    gap: 20px;
    margin: 0;
    padding: 0;
}

nav .menu li {
    display: inline;
}

nav .menu li a {
    text-decoration: none;
    color: #fff;
    font-weight: bold;
    transition: color 0.3s;
}

nav .menu li a:hover {
    color: #ffa100;
}

.mobile-menu-icon {
    display: none;
    /* Esconde o ícone de menu móvel para dispositivos grandes */
    cursor: pointer;
    flex-direction: column;
    justify-content: space-between;
    height: 24px;
}

.mobile-menu-icon span {
    display: block;
    width: 25px;
    height: 3px;
    background-color: #fff;
    transition: all 0.3s ease-in-out;
}

.login-container {
    max-width: 400px;
    background-color: #fff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    margin: 50px auto;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.login-form h2 {
    text-align: center;
    margin-bottom: 20px;
}

.login-form input {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
    transition: border-color 0.3s;
}

.login-form input:focus {
    border-color: #228B22;
    outline: none;
}

.login-form button {
    width: 100%;
    padding: 10px;
    background-color: #228B22;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
    font-size: 16px;
}

.login-form button:hover {
    background-color: #1a751d;
}

.register-link {
    text-align: center;
    margin-top: 15px;
}

.register-link a {
    color: #228B22;
    text-decoration: none;
    font-weight: bold;
    transition: color 0.3s;
}

.register-link a:hover {
    text-decoration: underline;
    color: #1a751d;
}

.logo {
    max-width: 100%;
    max-height: 100px;
    margin-left: 10px;
    object-fit: contain;
    transition: transform 0.3s;
    /* Adiciona uma transição suave de 0.3 segundos para o efeito */
}

.logo:hover {
    transform: scale(1.1);
    /* Aumenta ligeiramente o tamanho do logo quando o cursor do mouse passar por cima */
}

.author-link {
    color: #fff;
    text-decoration: none;
    transition: color 0.3s;
}

.author-link:hover {
    color: #ffa100;
}

.overlay {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 1000;
}

.popup {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #fff;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    z-index: 1001;
    max-width: 400px;
    width: 90%;
    border-radius: 10px;
}

.popup form {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.popup input,
.popup select {
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #ccc;
    transition: border-color 0.3s;
}

.popup input:focus,
.popup select:focus {
    border-color: #228B22;
    outline: none;
}

.popup button {
    background-color: #228B22;
    color: #fff;
    border: none;
    border-radius: 5px;
    padding: 10px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.popup button:hover {
    background-color: #1a751d;
}

.close {
    position: absolute;
    top: 10px;
    right: 10px;
    font-size: 20px;
    cursor: pointer;
    color: #333;
    transition: color 0.3s;
}

.close:hover {
    color: #ff0000;
}

.confirmation-popup {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
}

.confirmation-content {
    background-color: #fff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    text-align: center;
    max-width: 400px;
    width: 90%;
}

#confirmation-ok-button {
    background-color: #4CAF50;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 15px;
    transition: background-color 0.3s;
}

#confirmation-ok-button:hover {
    background-color: #45a049;
}


input.error {
    border-color: red;
}

.footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 10px 0;
    position: absolute;
    bottom: 0;
    width: 100%;
}

.address-inputs {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 10px;
    margin-top: 10px;
}

.address-inputs input,
.address-inputs select {
    grid-column: span 2;
}

@media (max-width: 768px) {
    .address-inputs {
        grid-template-columns: 1fr;
    }

    .mobile-menu-icon {
        display: flex;
        /* Mostra o ícone de menu móvel para dispositivos pequenos */
    }

    nav .menu {
        display: none;
        /* Esconde o menu para dispositivos móveis até ser aberto */
        flex-direction: column;
        gap: 10px;
        background-color: #228B22;
        position: absolute;
        top: 60px;
        right: 30px;
        padding: 20px;
        border-radius: 5px;
        z-index: 999;
    }

    nav .menu.active {
        display: flex;
        /* Mostra o menu quando o ícone for clicado */
    }

    nav .menu li a {
        color: #fff;
    }
}

.overlay {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 1000;
}

.confirmation-popup {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #fff;
    color: #4CAF50;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    z-index: 1001;
    max-width: 400px;
    width: 90%;
    text-align: center;
}

.confirmation-popup .confirmation-message {
    margin-bottom: 15px;
    font-size: 18px;
}

.confirmation-popup #confirm-button {
    background-color: #4CAF50;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    transition: background-color 0.3s;
}

.confirmation-popup #confirm-button:hover {
    background-color: #45a049;
}